form {
    margin: auto;
    border-radius: 25px;
    width: 25vw;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    font-family: monospace;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 15px black, 5px 10px 15px white;
   
  }
  
  input,
  select,
  textarea {
    display: block;
    text-align: center;
    margin: 8px auto 8px auto;
    font-family: monospace;
    border: none;
    width: 20vw;
    border-radius: 8px;
    height: 4vh;
    font-size: 20px;
    box-shadow: 5px 10px 15px black, 5px 10px 15px white;
  }
  textarea {
    height: 8vh;
  }
  #aciklama {
    border-radius: 8px;
  }
  
  button{
   

    color: white;
    
    display: flex;

    position: relative;

    
    justify-content: center;
  width: 13vw;
    margin-top: 10px;
    background-color: rgb(41, 41, 41);
    padding: 10px 0 10px 0;
    border-radius: 15px;
    margin: auto;
   
    font-family: monospace;
    font-size: 18px;
    box-shadow: 1px 3px 5px rgb(255, 255, 255);
    transition: 0.7s;
    &:hover{
    
         
        width: 15vw;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
            box-shadow: 5px 10px 15px white;
            cursor: pointer;
          
    }

  
  }
 

  .form-container h3{
    text-align: center;
  }